* {
	font-family: 'Work Sans', sans-serif;
	box-sizing: border-box;
}

h1 {
	color: #7639ff;
}

.container h1 {
	font-size: 4em;
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.container h1 {
		font-size: 2.5em;
	}
}

#intro h1, #services h1, #contact h1 {
	margin-left: 15px;
}

h2 {
	color: #fff;
}

p {
	line-height: 1.8em;
	font-size: 1.3em;
}

::-moz-selection {
  background: #8347ff;
}

::selection {
  background: #8347ff;
	color: #fff;
}

a:hover {
  color: #7639ff;
}

header {
	background: url("../hello-neon/assets/herobanner.jpg");
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	margin: 35px;
	position: relative;
}

@media screen and (max-width: 768px) {
	header {
		background: url("../hello-neon/assets/herobanner.jpg");
		background-position: center;
		background-size: auto;
		background-repeat: no-repeat;
		margin: 30px;
		position: relative;
}
}

header img.header-now {
	display: block;
	position: center;
	width: 75%;
	height: 65%;
	margin: 0 auto;
}

header h1 {
	display: block;
	position: relative;
	margin: 0 auto;
	top: 280px;
	font-size: 8.2em;
	text-align: center;
	z-index: 1;
	font-weight: 600;
	letter-spacing: 8px;
}

@media screen and (max-width: 768px) {
	header h1 {
		display: block;
		position: relative;
		margin: 0 auto;
		top: 225px;
		font-size: 2.5em;
		text-align: center;
		z-index: 1;
		font-weight: 600;
		letter-spacing: 6px;
	}
}

header aside ul {
	position: relative;
	left: -37px;
	top: -220px;
}

@media screen and (max-width: 768px) {
	header aside ul {
		position: relative;
		left: -33px;
		top: -220px;
}
}

header .icon {
	width: 30px;
	padding-top: 5px;
	margin: 0 5px;
}

@media screen and (max-width: 768px) {
	header .icon {
		width: 25px;
		padding-top: 5px;
		margin: 0 5px;
	}
}

header nav {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	top: 70%;
}

@media screen and (max-width: 768px) {
	header nav {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	top: 60%;
}
}

header ul {
	list-style-type: none;
	padding-left: 0px;
}

header nav ul li {
	display: inline;
	text-align: center;
	align-items: center;
	font-weight: 600;
	font-size: 20px;
	padding: 0px 20px;
}

@media screen and (max-width: 768px) {
	header nav ul li {
		display: inline;
		text-align: center;
		align-items: center;
		font-weight: 400;
		font-size: 1.5em;
		padding: 0px 10px;
		
	}
}

header a {
	background: transparent;
	color: #fff;
	letter-spacing: .08rem;
	text-decoration: none;
}

.section_one {
	background-color: #f2f2f2;
	padding-bottom: 40px;
}

.section_one p {
	width: 350px;
}

.section_one img {
	margin: 0 auto;
	padding: 20px 0;
	text-align: right;
	max-width: 100%;
}

.p_gallery{
	max-width:100%;
	text-align: left;
	line-height: 1.6em;
	font-size: 1.2em;
	margin-top: 5%;
}

.opening_hours {
	background: url("../hello-neon/assets/panel.jpg");
	background-position: center;
	background-size: cover;
	height: 250px;
}

.h2_gallery {
	color: white;
	font-weight: lighter;
	font-size: 3em;
	width: 350px;
	padding-top: 100px;
}

.services ul {
	list-style-type: none;
}

.services_img {
	float: left;
	width: 200px;
	margin-right: 20px;
}

.footer {
	background: linear-gradient(to bottom, rgba(200,214,223,1) 0%, rgba(133,93,213,1) 100%);
	padding-bottom: 20px;
}

.footer p {
	color: white;
}

.footer ul li {
	color: white;
	list-style-type: none;
	text-transform: uppercase;
	padding-bottom: 30px;
	font-size: 1.8em;
	letter-spacing: 0.3em;
	margin-left: -35px;
}

form {
	margin-top: -40px;
}

form label {
	color: white;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	font-size: 1.2em;
	width: 100%;
	padding-left: 5px;
}

form input {
	border: none;
	background-color: transparent;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #fff;
	width: 100%;
	font-size: 1.2em;
	color: white;
	padding-top: 3px;
}

.container button {
	border: 1px solid white;
	border-radius: 30px;
	color: #8347ff;
	text-transform: uppercase;
	background-color: white;
	font-weight: 800;
	width: 100%;
	font-size: 1.1em;
	letter-spacing: 2px;
	position: relative;
	display: block;
	margin-top: 40px;
	height: 50px;
	transition: all 0.5s ease-in-out;
}

.container button:hover {
  background-color: #AB85FF;
	border-color:#fff;
	color: #fff;
	transform: scale(1.05); 
}